# MacOS
.DS_Store

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

#Eclipse
.metadata

# Gradle
.gradle/

# Build
build/
out/

/src/test/resources/
!src/main/resources/views
!src/main/resources/cross.png

