# MacOS
.DS_Store

# IntelliJ
*.iml
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

#Eclipse
.metadata

# Gradle
.gradle/

# Build
build/
out/

/src/test/resources/
/src/main/resources/
!src/main/resources/views
!src/main/resources/cross.png
!src/main/resources/Chameleon.png
!src/main/resources/Kitten.jpg
!src/main/resources/Penguin.jpg
!src/main/resources/Background.jpg

!build/dokka/

